@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --text-course-details-heading-small: 26px;
  --text-course-details-heading-large: 36px;
  --text-home-heading-small: 28px;
  --text-home-heading-large: 48px;
  --text-default: 15px;
  --grid-cols-auto: repeat(auto-fit,minmax(200px, 1fr));
}

.grid-cols-auto{
  grid-template-columns: var(--grid-cols-auto);
}

*{
  font-family: Outfit;
}